[Unit]
Description=PTZ Host for robot

[Service]
WorkingDirectory=/home/robot/
ExecStart=/opt/cotsbot/runptzhost.sh
Restart=on-failure
RestartSec=5s
StanddardOutput=syslog
StandardError=syslog
User=root
Group=root

[Install]
WantedBy=multi-user.target
