[Unit]
Description=PWM Drive Host for robot

[Service]
WorkingDirectory=/home/robot/
ExecStart=/opt/cotsbot/runpwmdrivehost.sh
StanddardOutput=syslog
StandardError=syslog
Restart=on-failure
RestartSec=5s
User=root
Group=root

[Install]
WantedBy=multi-user.target
