[Unit]
Description=Drive Host for robot

[Service]
WorkingDirectory=/home/robot/
ExecStart=/opt/cotsbot/rundrivehost.sh
StanddardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
