[Unit]
Description=Webcam broadcaster for robot

[Service]
WorkingDirectory=/opt/cotsbot/
ExecStart=/opt/cotsbot/runrtspserver.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
