[Unit]
Description=PTZ Host for robot

[Service]
WorkingDirectory=/home/robot/
ExecStart=/opt/cotsbot/runptzhost.sh
StanddardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
